DistributorMailSendler/Connected Services/DistributorsOutlets/DistributorsOutlets1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://www.khortitsa.com/wcf/Money/2008" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.khortitsa.com/wcf/Money/2008" location="http://svc-money-rus:8000/MegaDAL_Money_V3/DistributorsOutlets?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDistributorsOutlets" type="i0:IDistributorsOutlets">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDebtorAndOutlet2">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/CreateDebtorAndOutlet2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDebtorAndOutlet">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/CreateDebtorAndOutlet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressFromString">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/GetAddressFromString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindOutletByKladrCode">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/FindOutletByKladrCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkAddressOutletByKladrCode">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/LinkAddressOutletByKladrCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateDebtor">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/CheckAndCreateDebtor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAndCreateOutet">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/CheckAndCreateOutet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTradeOutletAddressToKladr">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/UpdateTradeOutletAddressToKladr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAddressByKladrCode">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/FindAddressByKladrCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGPSOutlet">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/UpdateGPSOutlet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDistrOutletId">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/AddDistrOutletId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDistrOutletId">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/DeleteDistrOutletId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDebtorAndOutlet">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/UpdateDebtorAndOutlet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDistributorOutletProtocol">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/InsertDistributorOutletProtocol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDistributorOutletProtocol">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/UpdateDistributorOutletProtocol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveOutletToArea">
      <soap:operation soapAction="http://www.khortitsa.com/wcf/Money/2008/IDistributorsOutlets_nonDataSets/MoveOutletToArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>