DistributorMailSendler/Connected Services/DistributorsOutlets/DistributorsOutlets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/dadatacsharp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dadatacsharp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddressData">
    <xs:sequence>
      <xs:element minOccurs="0" name="area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="area_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="area_type_full" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="block" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="block_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="block_type_full" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city_type_full" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fias_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flat_area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flat_price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flat_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="geo_lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="geo_lon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="house" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="house_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="house_type_full" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kladr_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="okato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oktmo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal_box" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qc_complete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qc_geo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qc_house" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region_type_full" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="settlement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="settlement_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="settlement_type_full" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="square_meter_price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street_type_full" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_office" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_office_legal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timezone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unparsed_parts" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressData" nillable="true" type="tns:AddressData" />
</xs:schema>